<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collection</title>
    {% load static %}
</head>
<body>
<h1>My Collection</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut blanditiis doloribus eius est illum iusto labore placeat, repellat saepe tempora tenetur, voluptatem voluptatibus. Accusantium odit provident quam temporibus voluptas.</span></p>
<img src="{% static 'images/car1.jpeg' %}" alt=" ">
<img src="{% static 'images/car2.jpeg' %}" alt=" ">
<img src="{% static 'images/car3.jpeg' %}" alt=" ">
<img src="{% static 'images/car4.jpeg' %}" alt=" ">
<img src="{% static 'images/car5.jpeg' %}" alt=" ">
<img src="{% static 'images/car6.jpeg' %}" alt=" ">
</body>
</html>